# This notebook will read the data taken from the EPA and pull out what chemicals in the air, water and soil have reached reporting levels at the East Palestine Ohio train derailment site.

Sources:

1. https://www.epa.gov/oh/water-sampling-data-east-palestine-ohio-train-derailment
2. https://www.epa.gov/oh/soil-and-sediment-sampling-data-east-palestine-ohio-train-derailment
3. https://www.epa.gov/oh/air-sampling-data-east-palestine-ohio-train-derailment

In [2]:
# required imports
import pandas as pd
import numpy as np
from pathlib import Path 
import hvplot.pandas 
import seaborn as sb   
import matplotlib.pyplot as plt

In [3]:
# create path objects
air_csv = Path('./data/air.csv')
water_csv = Path('./data/water.csv')
soil_csv = Path('./data/soil.csv')

In [5]:
# read into pandas dataframes
air_df = pd.read_csv(air_csv, infer_datetime_format=True, index_col=None)
water_df = pd.read_csv(water_csv, infer_datetime_format=True, index_col=None)
soil_df = pd.read_csv(soil_csv, infer_datetime_format=True, index_col=None)

In [7]:
# create dfs that only have analyte and Reporting limit comparison
air_report_df = air_df[['Analyte','RL_Comparison']]
water_report_df = water_df[['Analyte','RL_Comparison']]
soil_report_df = soil_df[['Analyte','RL_Comparison']]

# review dataframe
display(air_report_df.head())
display(water_report_df.head())
display(soil_report_df.head())

                            Analyte RL_Comparison
0  Dichlorodifluoromethane (CFC 12)           Yes
1                     Chloromethane           Yes
2                    Vinyl Chloride            No
3                     1,3-Butadiene            No
4                      Bromomethane            No

                      Analyte RL_Comparison
0               DRO (C10-C28)           Yes
1               ORO (C28-C40)           Yes
2                GRO (C6-C10)           Yes
3               1,1`-Biphenyl            No
4  1,2,4,5-Tetrachlorobenzene            No

                  Analyte RL_Comparison
0  Trichlorofluoromethane            No
1          Vinyl Chloride            No
2          Xylenes, Total            No
3           DRO (C10-C28)            No
4           ORO (C28-C40)            No

In [16]:
# select analyte where RL_Comparison == Yes
air_analyte_df = air_report_df.loc[air_report_df['RL_Comparison'] == 'Yes']
water_analyte_df = water_report_df.loc[water_report_df['RL_Comparison'] == 'Yes']
soil_analyte_df = soil_report_df.loc[soil_report_df['RL_Comparison'] == 'Yes']

                             Analyte RL_Comparison
0   Dichlorodifluoromethane (CFC 12)           Yes
1                      Chloromethane           Yes
7                            Acetone           Yes
8             Trichlorofluoromethane           Yes
10                Methylene chloride           Yes

          Analyte RL_Comparison
0   DRO (C10-C28)           Yes
1   ORO (C28-C40)           Yes
2    GRO (C6-C10)           Yes
56   Fluoranthene           Yes
64    Naphthalene           Yes

           Analyte RL_Comparison
97         Acetone           Yes
238        Acetone           Yes
256  DRO (C10-C28)           Yes
257  ORO (C28-C40)           Yes
368        Acetone           Yes

In [23]:
# Display individual tables
display(air_analyte_df.head(20))
display(water_analyte_df.head(20))
display(soil_analyte_df.head(20))

                             Analyte RL_Comparison
0   Dichlorodifluoromethane (CFC 12)           Yes
1                      Chloromethane           Yes
7                            Acetone           Yes
8             Trichlorofluoromethane           Yes
10                Methylene chloride           Yes
11    1,1,2-Trichlorotrifluoroethane           Yes
17                1,2-Dichloroethane           Yes
19                           Benzene           Yes
20              Carbon Tetrachloride           Yes
28                           Toluene           Yes
34                       m,p-Xylenes           Yes
49                           Toluene           Yes
52                 Tetrachloroethene           Yes
61  Dichlorodifluoromethane (CFC 12)           Yes
62                     Chloromethane           Yes
64                     1,3-Butadiene           Yes
69            Trichlorofluoromethane           Yes
71                Methylene chloride           Yes
72    1,1,2-Trichlorotrifluoroethane           Yes
78                1,2-Dichloroethane           Yes

                  Analyte RL_Comparison
0           DRO (C10-C28)           Yes
1           ORO (C28-C40)           Yes
2            GRO (C6-C10)           Yes
56           Fluoranthene           Yes
64            Naphthalene           Yes
69           Phenanthrene           Yes
71                 Pyrene           Yes
129       pH (laboratory)           Yes
130           Temperature           Yes
131         DRO (C10-C28)           Yes
133          GRO (C6-C10)           Yes
149          Acenaphthene           Yes
150        Acenaphthylene           Yes
152            Anthracene           Yes
155    Benzo(a)anthracene           Yes
156        Benzo(a)pyrene           Yes
164   2-Methylnaphthalene           Yes
171  Benzo(b)fluoranthene           Yes
188           Naphthalene           Yes
193          Phenanthrene           Yes

               Analyte RL_Comparison
97             Acetone           Yes
238            Acetone           Yes
256      DRO (C10-C28)           Yes
257      ORO (C28-C40)           Yes
368            Acetone           Yes
369            Benzene           Yes
381            Toluene           Yes
386       GRO (C6-C10)           Yes
479            Benzene           Yes
500  Methylcyclohexane           Yes
510     Vinyl Chloride           Yes
527      ORO (C28-C40)           Yes
528       GRO (C6-C10)           Yes
575       Fluoranthene           Yes
581       Phenanthrene           Yes
607            Benzene           Yes
638     Vinyl Chloride           Yes
641            Toluene           Yes
646     Vinyl Chloride           Yes
648      ORO (C28-C40)           Yes

In [31]:
# display value counts
air_analyte_df.value_counts()

Analyte                           RL_Comparison
1,1,2-Trichlorotrifluoroethane    Yes              32
Carbon Tetrachloride              Yes              32
1,2-Dichloroethane                Yes              32
Trichlorofluoromethane            Yes              32
Toluene                           Yes              32
Methylene chloride                Yes              32
Dichlorodifluoromethane (CFC 12)  Yes              32
Chloromethane                     Yes              32
Benzene                           Yes              32
m,p-Xylenes                       Yes              30
Tetrachloroethene                 Yes              27
o-Xylene                          Yes              24
1,2,4-Trimethylbenzene            Yes              23
Acetone                           Yes              22
1,4-Dichlorobenzene               Yes              22
Ethylbenzene                      Yes              21
Vinyl Chloride                    Yes              18
1,3-Butadiene                     Yes              17
Trichloroethene                   Yes               8
Acrolein                          Yes               7
Chloroethane                      Yes               6
Naphthalene                       Yes               6
1,2-Dichloropropane               Yes               5
Styrene                           Yes               4
1,3,5-Trimethylbenzene            Yes               4
Bromomethane                      Yes               2
1,4-Dioxane                       Yes               1
Chloroform                        Yes               1
dtype: int64

In [32]:
water_analyte_df.value_counts()

Analyte                     RL_Comparison
DRO (C10-C28)               Yes              9
Phenanthrene                Yes              8
ORO (C28-C40)               Yes              8
GRO (C6-C10)                Yes              8
Fluoranthene                Yes              8
Vinyl Chloride              Yes              6
Pyrene                      Yes              5
Naphthalene                 Yes              4
pH (laboratory)             Yes              3
Temperature                 Yes              3
Benzo(a)anthracene          Yes              3
Fluorene                    Yes              2
Chrysene                    Yes              2
2-Methylnaphthalene         Yes              2
Bis(2-ethylhexyl)phthalate  Yes              2
Benzo(b)fluoranthene        Yes              2
Benzo(a)pyrene              Yes              2
Anthracene                  Yes              2
Acenaphthylene              Yes              2
Acenaphthene                Yes              2
Benzo(k)fluoranthene        Yes              1
Benzo(g,h,i)perylene        Yes              1
4-Chloroaniline             Yes              1
1-Methylnaphthalene         Yes              1
dtype: int64

In [33]:
soil_analyte_df.value_counts()

Analyte                 RL_Comparison
GRO (C6-C10)            Yes              6
ORO (C28-C40)           Yes              6
Acetone                 Yes              5
Benzene                 Yes              5
Vinyl Chloride          Yes              4
Fluoranthene            Yes              3
DRO (C10-C28)           Yes              3
Phenanthrene            Yes              3
Toluene                 Yes              2
Methylcyclohexane       Yes              2
Naphthalene             Yes              1
Indeno(1,2,3-cd)pyrene  Yes              1
1,2,4-Trimethylbenzene  Yes              1
Pentachlorophenol       Yes              1
Xylenes, Total          Yes              1
m,p-Xylenes             Yes              1
Pyrene                  Yes              1
Dibenzo(a,h)anthracene  Yes              1
Fluorene                Yes              1
1-Methylnaphthalene     Yes              1
Chrysene                Yes              1
Benzo(k)fluoranthene    Yes              1
Benzo(g,h,i)perylene    Yes              1
Benzo(b)fluoranthene    Yes              1
Benzo(a)pyrene          Yes              1
Benzo(a)anthracene      Yes              1
Anthracene              Yes              1
Acenaphthylene          Yes              1
Acenaphthene            Yes              1
2-Methylnaphthalene     Yes              1
o-Xylene                Yes              1
dtype: int64

In [26]:
# concat with keys for air, soil and water
combined_df = pd.concat([air_analyte_df, water_analyte_df, soil_analyte_df], axis=1, keys=['Air', 'Water', 'Soil'], join='outer')

In [21]:
# display head and tail
display(combined_df.head(30))
display(combined_df.tail(30))

                                 Air                        Water  \
                             Analyte RL_Comparison        Analyte
0   Dichlorodifluoromethane (CFC 12)           Yes  DRO (C10-C28)
1                      Chloromethane           Yes  ORO (C28-C40)
2                                NaN           NaN   GRO (C6-C10)
7                            Acetone           Yes            NaN
8             Trichlorofluoromethane           Yes            NaN
10                Methylene chloride           Yes            NaN
11    1,1,2-Trichlorotrifluoroethane           Yes            NaN
17                1,2-Dichloroethane           Yes            NaN
19                           Benzene           Yes            NaN
20              Carbon Tetrachloride           Yes            NaN
28                           Toluene           Yes            NaN
34                       m,p-Xylenes           Yes            NaN
49                           Toluene           Yes            NaN
52                 Tetrachloroethene           Yes            NaN
56                               NaN           NaN   Fluoranthene
61  Dichlorodifluoromethane (CFC 12)           Yes            NaN
62                     Chloromethane           Yes            NaN
64                     1,3-Butadiene           Yes    Naphthalene
69            Trichlorofluoromethane           Yes   Phenanthrene
71                Methylene chloride           Yes         Pyrene
72    1,1,2-Trichlorotrifluoroethane           Yes            NaN
78                1,2-Dichloroethane           Yes            NaN
80                           Benzene           Yes            NaN
81              Carbon Tetrachloride           Yes            NaN
87                      Ethylbenzene           Yes            NaN
88                       m,p-Xylenes           Yes            NaN
90                          o-Xylene           Yes            NaN
93            1,2,4-Trimethylbenzene           Yes            NaN
94  Dichlorodifluoromethane (CFC 12)           Yes            NaN
95                     Chloromethane           Yes            NaN

                    Soil
   RL_Comparison Analyte RL_Comparison
0            Yes     NaN           NaN
1            Yes     NaN           NaN
2            Yes     NaN           NaN
7            NaN     NaN           NaN
8            NaN     NaN           NaN
10           NaN     NaN           NaN
11           NaN     NaN           NaN
17           NaN     NaN           NaN
19           NaN     NaN           NaN
20           NaN     NaN           NaN
28           NaN     NaN           NaN
34           NaN     NaN           NaN
49           NaN     NaN           NaN
52           NaN     NaN           NaN
56           Yes     NaN           NaN
61           NaN     NaN           NaN
62           NaN     NaN           NaN
64           Yes     NaN           NaN
69           Yes     NaN           NaN
71           Yes     NaN           NaN
72           NaN     NaN           NaN
78           NaN     NaN           NaN
80           NaN     NaN           NaN
81           NaN     NaN           NaN
87           NaN     NaN           NaN
88           NaN     NaN           NaN
90           NaN     NaN           NaN
93           NaN     NaN           NaN
94           NaN     NaN           NaN
95           NaN     NaN           NaN

                                   Air                          Water  \
                               Analyte RL_Comparison          Analyte
1478                           Benzene           Yes              NaN
1479              Carbon Tetrachloride           Yes              NaN
1487                           Toluene           Yes              NaN
1490                 Tetrachloroethene           Yes              NaN
1493                       m,p-Xylenes           Yes              NaN
1500               1,4-Dichlorobenzene           Yes              NaN
1502                               NaN           NaN     Fluoranthene
1506  Dichlorodifluoromethane (CFC 12)           Yes              NaN
1507                     Chloromethane           Yes              NaN
1514            Trichlorofluoromethane           Yes              NaN
1516                1,2-Dichloroethane           Yes              NaN
1518                           Benzene           Yes              NaN
1519              Carbon Tetrachloride           Yes              NaN
1527                           Toluene           Yes              NaN
1530                Methylene chloride           Yes              NaN
1531    1,1,2-Trichlorotrifluoroethane           Yes              NaN
1547               1,4-Dichlorobenzene           Yes              NaN
1556                               NaN           NaN   Vinyl Chloride
1582                               NaN           NaN  4-Chloroaniline
1604                               NaN           NaN    DRO (C10-C28)
1605                               NaN           NaN    ORO (C28-C40)
1606                               NaN           NaN     GRO (C6-C10)
1621                               NaN           NaN     Fluoranthene
1634                               NaN           NaN     Phenanthrene
1636                               NaN           NaN           Pyrene
1684                               NaN           NaN   Vinyl Chloride
1701                               NaN           NaN    DRO (C10-C28)
1702                               NaN           NaN    ORO (C28-C40)
1703                               NaN           NaN     GRO (C6-C10)
1812                               NaN           NaN   Vinyl Chloride

                      Soil
     RL_Comparison Analyte RL_Comparison
1478           NaN     NaN           NaN
1479           NaN     NaN           NaN
1487           NaN     NaN           NaN
1490           NaN     NaN           NaN
1493           NaN     NaN           NaN
1500           NaN     NaN           NaN
1502           Yes     NaN           NaN
1506           NaN     NaN           NaN
1507           NaN     NaN           NaN
1514           NaN     NaN           NaN
1516           NaN     NaN           NaN
1518           NaN     NaN           NaN
1519           NaN     NaN           NaN
1527           NaN     NaN           NaN
1530           NaN     NaN           NaN
1531           NaN     NaN           NaN
1547           NaN     NaN           NaN
1556           Yes     NaN           NaN
1582           Yes     NaN           NaN
1604           Yes     NaN           NaN
1605           Yes     NaN           NaN
1606           Yes     NaN           NaN
1621           Yes     NaN           NaN
1634           Yes     NaN           NaN
1636           Yes     NaN           NaN
1684           Yes     NaN           NaN
1701           Yes     NaN           NaN
1702           Yes     NaN           NaN
1703           Yes     NaN           NaN
1812           Yes     NaN           NaN

In [29]:
# display total number of chemcials

KeyError: 'Yes'